<div class="card">
  <div class="row">
    <div class="col">
      <div class="p-2">
        <h2>{{ note.title }}</h2>
        <p class="">{{ preview }}</p>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-primary mr-2" (click)="viewNote()">View</button>
          <button type="button" class="btn btn-primary mx-2" (click)="editNote()">Edit</button>
          <button type="button" class="btn btn-danger mx-2" (click)="deleteNote()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="card" style="width: 18rem;">-->
<!--  <div class="card-body">-->
<!--    <h2 class="card-title">Note Title</h2>-->
<!--    <p class="card-text">Some quick example text to build on the card title.</p>-->
<!--    <a type="button" class="btn btn-primary">Edit</a>-->
<!--    <button type="button" class="btn btn-danger">Delete</button>-->
<!--  </div>-->
<!--</div>-->
